.form-container {
    width: 90%;
    max-height: calc(390rem / 16);
    margin: 0 auto;
    margin-top: -74px;
    padding: 20px;
    background-color: var(--white);
    border-radius: calc(10rem / 16);
}
