.step {
    width: calc(33rem / 16);
    height: calc(33rem / 16);
    border: calc(1rem / 16) solid hsl(208, 100%, 87%);
    background-color: transparent;
    outline-color: transparent;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: var(--white);
    font-weight: var(--big-font);
    transition: 0.5s ease;
}

.step.selected {
    background-color: hsl(208, 100%, 87%);
    outline-color: hsl(208, 100%, 87%);
    color: var(--marine-blue);
}
