.step-container {
    display: flex;
    column-gap: 20px;
}

.step {
    width: calc(33rem / 16);
    height: calc(33rem / 16);
    border: calc(1rem / 16) solid hsl(208, 100%, 87%);
    background-color: transparent;
    outline-color: transparent;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: var(--white);
    font-weight: var(--big-font);
    transition: 0.5s ease;
}

.step.selected {
    background-color: hsl(208, 100%, 87%);
    outline-color: hsl(208, 100%, 87%);
    color: var(--marine-blue);
}

.stepInfo {
    display: none;
}

@media screen and (min-width: 1000px) {
    .stepInfo {
        display: flex;
        flex-direction: column;
        row-gap: 1px;
        font-size: 13px;
    }

    .stepInfo > span:nth-of-type(1) {
        color: var(--light-gray);
        font-size: 11px;
    }

    .stepInfo > span:nth-of-type(2) {
        color: var(--white);
        font-weight: 500;
    }
}
