.form-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(70rem / 16);
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.next-button {
    order: 2;
    background-color: var(--marine-blue);
    color: var(--light-gray);
    transition: background-color 0.5s ease-in-out;
    outline-offset: calc(3rem / 16);
}

.next-button:hover {
    background-color: hsl(214, 73%, 14%);
}

.next-button,
.back-button {
    padding: calc(12rem / 16);
    font-weight: var(--medium-font);
    font-size: calc(15.3rem / 16);
    border: none;
    border-radius: calc(3rem / 16);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.back-button {
    order: 1;
    visibility: hidden;
    color: var(--cool-gray);
    background-color: transparent;
}

.back-button:hover {
    color: var(--marine-blue);
}

.back-button.show {
    visibility: visible;
}

@media screen and (min-width: 1000px) {
    .form-navigation {
        position: static;
        inset: 0;
        margin-top: auto;
        height: auto;
        padding: 0;
    }
}
