.container > input {
    width: 100%;
    border: 1px solid var(--cool-gray);
    outline-color: var(--purplish-blue);
    padding: 10px;
    padding-left: 15px;
    border-radius: 3px;
    color: var(--marine-blue);
    font-size: calc(15rem / 16);
    font-weight: var(--medium-font);
    transition: border-color 0.5s ease-in-out;
}

.containerError > input {
    outline-color: var(--strawberry-red);
    border-color: var(--strawberry-red);
    animation: showErrorBorder 2s ease-in-out forwards;
}

@keyframes showErrorBorder {
    0% {
        outline-color: var(--strawberry-red);
        border-color: var(--strawberry-red);
    }

    100% {
        outline-color: var(--strawberry-red);
        border-color: var(--strawberry-red);
    }
}

.container > input:hover {
    border-color: var(--purplish-blue);
}

.container > input::placeholder {
    color: var(--cool-gray);
}

.label-container {
    display: flex;
    justify-content: space-between;
}

.label-container > label {
    color: var(--marine-blue);
    font-size: calc(14rem / 16);
    font-weight: var(--medium-font);
}

.label-container > span {
    color: var(--strawberry-red);
    font-size: calc(14rem / 16);
    opacity: 0;
}

.label-container > span.labelError {
    animation: showUp 8s ease-in-out forwards;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
    }
}
